<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="favicon.png">
		<title>Instagram Searcher</title>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="assets/js/respond.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="assets/css/styles.css" type="text/css">
	</head>
	<body ng-app="app" ng-controller="SearchController">
		<header class="header">
			<img src="assets/images/ng-instagram.png" class="logo">
			<form name="searchForm" ng-submit="submit()">
				<input type="text" name="tag" ng-model="data.tag" placeholder="Enter a tag to search">
				<input type="submit" value="submit">
			</form>
			<div ng-if="loading">
				Searching instagram for photos tagged with "{{data.tag}}"
			</div>
		</header>
		<main class="main">
			<div ng-repeat="photo in photos" class="result">
				<img ng-src="{{photo.images.low_resolution.url}}" class="">
			</div>
		</main>		
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="app/app.js"></script>
	</body>
</html>