input[type=email], input[type=text], input[type=tel], input[type=password] {
	font-size: 21px;
	border: solid 1px #222;
	line-height: 1;
	padding: 8px 22px;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;

	@media screen and (max-width: 480px) {
		width: 100%;
		margin-bottom: 21px;
	}	

	&:focus {
		outline: none;
		-webkit-box-shadow: inset 10px 0px 0px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 10px 0px 0px 0px rgba(0,0,0,0.75);
		box-shadow: inset 10px 0px 0px 0px rgba(0,0,0,0.75);
	}
}

input[type=submit] {
	font-size: 21px;
	font-weight: bold;
	background-color: #bb1014;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: none;
	border-radius: 0px;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	padding: 9px 22px;
	cursor: pointer;

	@media screen and (max-width: 480px) {
		width: 100%;
	}

	&:hover, &:focus {
		background-color: #d72c30;
		text-decoration: none;
		outline: none;
	}
}

.form-item {
	margin-bottom: 10px;
}

/* validation */
.ng-submitted {
	.ng-invalid {
		background-color: #ffd0cc;
		color: #e74c3c;
	}
}

.error {
	color: #e74c3c;
	font-weight: bold;
}