/* mixins and variables */
/* basics and reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0; }

img {
  border: 0px;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif; }

/* Force the vertical scrollbar in FF */
html {
  overflow-y: scroll; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 elements */
section, header, footer, article, aside, nav, main, figure, figcaption {
  display: block; }

/* make sure images don't break the layout */
img {
  max-width: 100%;
  height: auto; }

::selection {
  background-color: #c2cced; }

::-moz-selection {
  background-color: #c2cced; }

/* typography */
body {
  font-family: helvetica, sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased; }
  @media screen and (max-width: 400px) {
    body {
      font-size: 16px; } }

p, ul, ol, blockquote {
  margin-bottom: 21px; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: 21px; }

a {
  text-decoration: none;
  color: #0e76bc; }
  a:hover {
    text-decoration: underline; }

/* components */
input[type=email], input[type=text], input[type=tel], input[type=password] {
  font-size: 21px;
  border: solid 1px #222;
  line-height: 1;
  padding: 8px 22px; }

input[type=submit] {
  font-size: 21px;
  font-weight: bold;
  background-color: #bb1014;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 0px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  padding: 9px 22px;
  cursor: pointer; }
  input[type=submit]:hover {
    background-color: #d72c30;
    text-decoration: none; }

.form-item {
  margin-bottom: 10px; }

/* custom checkbox */
.form-type-checkbox label {
  display: inline-block;
  font-weight: normal;
  position: relative;
  margin-bottom: 23px;
  margin-left: 35px;
  text-align: left; }
  .form-type-checkbox label:before {
    content: '';
    background: url(../images/checkbox.png) top left;
    width: 27px;
    height: 29px;
    display: block;
    cursor: pointer;
    position: absolute;
    left: -35px;
    top: -5px; }

.form-type-checkbox input[type=checkbox] {
  display: none; }

input[type=checkbox]:checked + label:before {
  background-position: top right; }

/* custom select */
.select-wrapper {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #fff; }
  .select-wrapper:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/select-arrow.png) no-repeat center;
    width: 42px;
    height: 42px;
    z-index: 2; }
  .select-wrapper select {
    cursor: pointer;
    font-size: 14px;
    border: none;
    background-color: transparent;
    width: 115%;
    position: relative;
    z-index: 10;
    -webkit-appearance: none; }
    .select-wrapper select:focus {
      outline: none; }

/* buttons */
/* page structure */
.content-width {
  width: 960px;
  position: relative;
  margin: auto; }
  @media screen and (max-width: 1000px) {
    .content-width {
      width: auto;
      padding: 0px 20px; } }

/* Header */
.header {
  text-align: center;
  padding: 30px 0px 30px; }
  .header input[type=text] {
    margin-right: 20px; }
  .header form {
    margin-bottom: 21px; }

.logo {
  display: block;
  margin: 0px auto 21px; }

/* main content section in interior pages */
.main {
  padding: 0px 1%; }

.result {
  float: left;
  width: 31.33%;
  margin: 0px 1% 1.5%; }
  .result img {
    width: 100%; }
